# Compiled source
*.pyc

# Build tools
.tox/

# Packaging
build/
dist/
*.egg-info

# Test output
nose-xunit.xml
nosetests.xml
.noseids
htmlcov/
.coverage
coverage-all.txt
**/.webassets-cache/
**/static/js/gen/

# IDE files
.vscode/
*venv/
*.code-workspace

# Terraform
**/.terraform/*